
body {background-color:lightgrey}
h1 {font-family: Sans-serif;color:black; text-align: center; border: 2px black; /*Stewardship Capital, LLC*/}

p {color:green}

header {padding-top: 30px; text-align:center;font-size: 30px;color: black}

